@import '../../scss/Colors.scss';
@import '../../scss/Variables.scss';
@import '../../scss/Common.scss';

.layout{
    height:100vh;
    @extend .outline_none;
    @extend .text_decoration_none;
    display: $display_flex;

    #main_header, #main_content{
        @extend .height_hundred;
    }

    .layout_header{
        border: 1px solid #0000ff20;
        border-left: none;
        border-top: none;
        border-bottom: none;
        padding:10px 0;
        background-color: $color_white;
        position: relative;
        width: 300px;
        display: $display_flex;
        flex-direction: $flex_direction_column;
    }

    .layout_content{
        padding: 15px;
        @extend .text_decoration_none;
        @extend .width_hundred;
        
        .hello_msg{
            display: $display_flex;
            align-items: $align_items_center;
            justify-content: $justify_content_center;
            color: $theme_color;
            min-height: 400px;
        }
    }
}