.outer_container{
    width: 500px;
    height: 500px;
    overflow: auto;
    background-color: yellow;

    .inner_container{
        width:200px;
        height: 9000px;
        background-color: green;

        &:hover {
            div[class="ab_container"]{
                display: block;
            }

            .ab_container{
                display: none;
                background-color: red;
            }
        }
    }
}