@import './scss/Colors.scss';
@import './scss/Common.scss';
@import './scss/Variables.scss';

.check_box_contanier{
    position: relative;
    left:50%;
    top:50%;
    transform:translate(-5%,-50%);

    input[type='checkbox'] 
    {
        position: relative;
        width:60px;
        height:20px;
        border-radius:10px;
        appearance: none;
        outline:none;
        background-color: #fff;
        border: 1px solid #008000;
        box-shadow: inset 0 0 4px 0 #00800020;
        cursor: pointer;

        &::before 
        {
            content: '';
            width:20px;
            height:20px;
            position:absolute;
            outline: none;
            appearance: none;
            background-color: #ee82ee;
            border: 1px solid #00800050;
            border-radius: 50%;
            transform: scale(1.5);
            transition: 0.5s;
        }
    }

    input:checked[type='checkbox'] 
    {
        position: relative;
        width:60px;
        height:20px;
        border-radius:10px;
        appearance: none;
        outline:none;
        background-color: #fff;
        border: 1px solid #008000;
        box-shadow: inset 0 0 4px 0 #00800020;
        background-color: #ee82ee;

        &::before 
        {
            border:none;
            background-color: #fff;
            opacity: 0;
        }

        &::after
        {
            content: '';
            width:20px;
            height:20px;
            position:absolute;
            outline: none;
            appearance: none;
            right: 0;
            top:0;
            background-color: #ee82ee;
            border: 1px solid #00800050;
            border-radius: 50%;
            transform: scale(1.5);
            transition: 0.5s;
        }
    }
}

