@import '../../scss/Colors.scss';
@import '../../scss/Common.scss';
@import '../../scss/Variables.scss';


.main_radio_cont
{
    position:absolute;
    top:10%;
    left:50%;
    width:auto;
    display: $display_flex;
    flex-direction: $flex_direction_column;
    align-items: $align_items_center;
    transform:translate(-3%,10%);

    .radio_input
    {
        margin-bottom: 30px;
    }

    .button_cont
    {
        padding: 5px;
        width:100%;

        .button_sts{
            @extend .cursor_pointer;
            @extend .button_sts;
            @extend .outline_none;
            @extend .border_none;
            padding: 4px 20px 5px 20px;
            font-size: 20px;
            border-radius: 5px;
            color:$theme_color;    
        }
    }

    .radio_cont
    {
        @mixin img-box-shadow {
            box-shadow: #00000020 0px 1px 2px 0.5px;
            -moz-box-shadow: #00000020 0px 1px 2px 0.5px;
            -webkit-box-shadow: #00000020 0px 1px 2px;
        }

        input[type="radio"] 
        {
            &:checked, &:not(:checked) 
            {
                position: relative;
                left: 47.8%;
                opacity: 0;
                top: 5px;
                z-index: 99;
                cursor: pointer;
            }

            &:checked+label, &:not(:checked)+label 
            {
                position: relative;
                padding-left: 45px;
                cursor: pointer;
                line-height: 25px;
                display: inline-block;
                color: #4A4A4A;
                font-size: 14px;
                margin: 0;
            }

            &:checked+label 
            {
                &:before 
                {
                    @include img-box-shadow;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 25px;
                    height: 25px;
                    border: 1px solid #F3F3F3;
                    border-radius: 100%;
                    background: $theme-color;
                }

                &:after 
                {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: $color-white;
                    position: absolute;
                    top: 8.5px;
                    left: 8.5px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
            }

            &:not(:checked)+label 
            {
                &:before 
                {
                    @include img-box-shadow;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 25px;
                    height: 25px;
                    border: 1px solid #F3F3F3;
                    border-radius: 100%;
                    background-color: $color-white;
                }

                &:after 
                {
                    content: "";
                    width: 12px;
                    height: 12px;
                    background: $theme-color;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
            }
            
            &:checked+label 
            {
                &:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }
}

