@import '../scss/Colors.scss';
@import '../scss/Variables.scss';
@import '../scss/Common.scss';


.home_main{

    @extend .width_hundred;
    display: $display_flex;
    align-items: $align_items_center;
    justify-content: $justify_content_space_between;

    .main_style {
        color: $theme_color ;
        font-weight: bold;
        border-radius: 5px;
        outline: none;
        border:none;
    }
    
    .button_sts {
        padding: 4px 20px 5px 20px;
        font-size: 20px;
        text-decoration: none;
    }

    .link_to {
        padding: 5px;
        color: $theme_color;
        width: 60px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
    
        &:hover{
            @extend .text_decoration_none;
            @extend .cursor_pointer;
        }
    }
    
    .logout_link_to{
        padding: 5px;
        color: $color_red;
        width: 60px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
    
        &:hover{
            @extend .text_decoration_none;
            @extend .cursor_pointer;
        }
    }
    
    .dropdown_button{
        @extend .main_style;
        @extend .cursor_pointer;
        @extend .button_sts;
    
        background-color: $color_white;
    }
}

.menu_container{
    height: 400px;
    overflow: auto;

    .menu_option_name{
        font-size: 12px;

        &:hover {
            background-color: $theme_color;
            color: $theme_color;
            font-size: 15px;
            font-weight: 600;
            transition: 0.2s;
        }
        &:nth-child(n) {
            @extend .text_decoration_none;
            @extend .cursor_pointer;
        } 
    }

    &::-webkit-scrollbar{
        width: 10px;
        background-color: $color_white;
      }
      
      &::-webkit-scrollbar-track {
        background-color: $color_white;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color:#33b6e580;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover{
            border-radius: 5px;
            background-color: #33b5e580;
      }
      
      &::-webkit-scrollbar-button{
        display: none;
      }

}