@import '../scss/Colors.scss';
@import '../scss/Variables.scss';
@import '../scss/Common.scss';

.home_main{

    @extend .width_hundred;
    height: 90%;

    .menu_content{
        display: $display_flex;
        flex-direction: $flex_direction_column;

        ._active{
            background-color: #33b5e512;
            border: none;
            outline: none;
        }
    }

    .logout_content {
        position: absolute;
        display: $display_flex;
        flex-direction: $flex_direction_column;
        border: 1px solid #0000ff20;
        background: #fff;
        left: 65px;
        top: 41px;
        width: 335px;
        color:#0000ff20;
        border-radius: 5px;
        box-shadow: 0px 2px 8px 0px #0000ff20; 
    }

    .main_style {
        color: $theme_color ;
        font-weight: bold;
        border-radius: 5px;
        outline: none;
        border:none;
    }
    
    .button_sts {
        padding: 4px 20px 5px 20px;
        font-size: 20px;
        text-decoration: none;
    }

    .link_to {
        padding: 5px;
        color: $theme_color;
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        @extend .width_hundred;
    
        &:hover{
            @extend .text_decoration_none;
            @extend .cursor_pointer;
        }
    }
    
    .logout_link_to{
        padding: 5px;
        color: $color_red;
        text-align: left;
        font-weight: 600;
        font-size: 22px;
        @extend .width_hundred;

        &:hover{
            @extend .text_decoration_none;
            @extend .cursor_pointer;
        }
    }
    
    .dropdown_button{
        @extend .main_style;
        @extend .cursor_pointer;
        @extend .button_sts;
        background-color: $color_white;
    }

    .dropdown_content{
        position: absolute;
        z-index: 1001;
        left: 40px;
        height: 350px;
        border: none;
        overflow: auto; 
        background-color: $color_white; 
        box-shadow: 0px 2px 8px 0px #0000ff20; 

        & > p {
            font-size: 15px;
            color: $theme_color;
            padding: 5px 10px;
            margin: 0;
        }

        
        &::-webkit-scrollbar{
            width: 10px;
            background-color: $color_white;
            cursor: default;
        }
          
        &::-webkit-scrollbar-track {
            background-color: $color_white;
        }
          
        &::-webkit-scrollbar-thumb {
            background-color:#0000ff20;
            border-radius: 5px;
        }
    
        &::-webkit-scrollbar-thumb:hover{
                border-radius: 5px;
                background-color: #0000ff20;
        }
          
        &::-webkit-scrollbar-button{
            display: none;
        }
    }
}

* {
    .menu_content_user {
        display: $display_flex;
        justify-content: $justify_content_center;
        margin-bottom: 25px;
        @extend .cursor_pointer;

        .menu_content_user_name{
            outline:none;
            font-size: 24px;
            font-weight: 600;
        }

        .menu_content_user_logout_cont{
            outline: none;
            width: 100%;
            display: $display_flex;
            padding-top: 20px;
        }

        .menu_content_user_image_parent{
            display: $display_flex;

            .user_image_cont{
                width:200px;
            }
        }

        .menu_content_user_image_cont {
            width: 110px;
            height: 110px;
            border: 1px solid #33b5e512;
            background-color: #33b5e512;
            border-radius: 65px;
            display: $display_flex;
            justify-content: $justify_content_center;
            align-items: $align_items_center;
            margin-right: 40px;

            .menu_content_user_img{
                width: 75px;
                height: 75px;
            }
        }

        .menu_content_user_image {
            width: 50px;
            height: 50px;
            width:110px;
        }
    }
    
    .menu_content_list {
        display: $display_flex;
        align-items: $align_items_center;
        padding: 10px 10px 10px;
        overflow: hidden;   
        @extend .cursor_pointer;
    
        .menu_content_icon{
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }

        .menu_content_icon_flex{
            position: absolute;
            right: 0;
            bottom: 10px;
        }
        
    
        .menu_content_text{
            outline: none;
            padding-left: 5px;
            display: block;
        }
    }
}
