$base_color: #33b5e5;

.home_main_container{
    padding:10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.main_style {
    color: $base_color ;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    border:none;
}

.home_button{
    @extend .main_style;
    @extend .cursor_pointer;
    @extend .button_sts;

    &:hover{
        color: $base_color;
    }
}

.logout_button{
    @extend .main_style;
    @extend .cursor_pointer;
    @extend .button_sts;

    &:hover{
        color: $base_color;
    }
}

.dropdown_button{
    @extend .main_style;
    @extend .cursor_pointer;
    @extend .button_sts;

    background-color: #ffffff;
}

.link_style{
    @extend .main_style;
    @extend .cursor_pointer;
    font-size: 15px;
    align-content: center;
    text-decoration: none;
}

.cursor_pointer{
    cursor: pointer;
}

.button_sts {
    padding: 4px 20px 5px 20px;
    font-size: 20px;
    text-decoration: none;
}

.hello_msg{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $base_color;
    min-height: 400px;
}

