.table_custom {
    width: 400px !important;
    height: 130px !important;

    thead {
        display: block;

        tr {
            display: block;
            width: 100%;
            table-layout: fixed;

            th {
                width: 100px;
            }
        }
    }

    tbody {
        height: 150px;
        overflow: auto;
        display: block;

        tr {
            display: block;
            width: 100%;
            table-layout: fixed;

            td {
                width: 98px;
            }
        }
    }
}