@import '../scss/Variables.scss';
@import '../scss/Common.scss';

.main_style {
    color: $theme-color ;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border:none;
}

.button_sts {
    font-size: 20px;
    text-decoration: none;
}

.dropdown_button{
    @extend .main_style;
    @extend .cursor_pointer;
    @extend .button_sts;

    background-color: #ffffff;
}

.link_style{
    @extend .main_style;
    @extend .cursor_pointer;
    font-size: 15px;
    align-content: center;
    text-decoration: none;
}

.menu_container{
    height: 360px;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 10px;
        background-color:#fff;
      }
      
      &::-webkit-scrollbar-track {
        background-color:#fff;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color:#33b6e580;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover{
            border-radius: 5px;
            background-color: #33b5e580;
      }
      
      &::-webkit-scrollbar-button{
        display: none;
      }
}
