$scroll_color:#D3D3D3;
$scroll_color_onhover:#F27118;
$theme_color:#33b5e5;


$color_white:#FFFFFF;
$color_red:#FF0000;
$color_Lime:#00FF00;
$color_blue:#0000FF;
$color_black:#000000;
$color_cyan:#00FFFF;
$color_darkBlue:#00008B;
$color_lightBlue:#ADD8E6;
$color_purple:#800080;
$color_yellow:#FFFF00;
$color_black:#FF00FF;
$color_pink:#FFC0CB;
$color_silver:#C0C0C0;
$color_grey:#808080;
$color_orange:#FFA500;
$color_brown:#A52A2A;
$color_maroon:#800000;
$color_green:#008000;
$color_olive:#808000;
$color_aquamarine:#7FFFD4;