
$scroll-color:#D3D3D3;
$scroll-color-onhover:#F27118;
$theme-color:#33b5e5;

//flex
$display-flex:flex;

$flex-direction-row:row;
$flex-direction-column:column;
$flex-direction-row-reverse:row-reverse;
$flex-direction-column-reverse:column-reverse;

$justify-content-center:center;
$justify-content-flex-start:flex-start;
$justify-content-flex-end:flex-end;
$justify-content-space-between:space-between;
$justify-content-space-around:space-around;
$justify-content-space-evenly:space-evenly;

$align-items-center:center;
$align-items-flex-start:flex-start;
$align-items-flex-end:flex-end;
