//flex
$display_flex:flex;

$flex_direction_row:row;
$flex_direction_column:column;
$flex_direction_row_reverse:row_reverse;
$flex_direction_column_reverse:column_reverse;

$justify_content_center:center;
$justify_content_flex_start:flex_start;
$justify_content_flex_end:flex_end;
$justify_content_space_between:space_between;
$justify_content_space_around:space_around;
$justify_content_space_evenly:space_evenly;

$align_items_center:center;
$align_items_flex_start:flex_start;
$align_items_flex_end:flex_end;
